<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <services>
      <service name="WebService_MultipleEndpoints_Different_Address.Service1">
        <!-- ATTENTION pour utiliser des ports différents il faut lancer VS en tant qu'Administrateur -->
        
        <!-- L'adresse de base demeure mais n'est pas utilisée -->
        <!-- Le endpoint ABC change de A, ici de port TCP/IP, 8733 -->
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/"
          binding="basicHttpBinding" name="SoapEndPnt1" contract="WebService_MultipleEndpoints_Different_Address.IService1"/>

        <!-- L'adresse de base demeure mais n'est pas utilisée -->
        <!-- Le endpoint ABC change de A, ici de port TCP/IP , 8734 -->
        <endpoint address="http://localhost:8734/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/"
          binding="basicHttpBinding" name="SoapEndPnt2" contract="WebService_MultipleEndpoints_Different_Address.IService1" />

        <!-- L'adresse de base demeure mais n'est pas utilisée -->
        <!-- Le endpoint d'échange de Metadonnées pour la découverter de service attend sur le port 8735 -->
        <endpoint address="http://localhost:8735/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/mex" 
           binding="mexHttpBinding" name="MexEndPnt" contract="IMetadataExchange" />
 
        <host>
          <!-- L'adresse de base demeure mais n'est pas utilisée -->
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
